{% extends 'base.html' %}
{% block title %}Bouldergram | Change Password{% endblock %}
{% block content %}



<h1>Change Password...</h1>
<br><br>

<div class="form-group">

  <form method="POST">
    {% csrf_token %}

<br>
    Old Password:<br>{{ form.old_password }}<br><hr>
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
    <br>New Password:<br>{{ form.new_password1 }}
    <br>Confirm new Password:<br>{{ form.new_password2 }}




<hr><br>

    <button class="btn btn-secondary">Change Password</button>  <a href="{% url 'profile_edit' %}" class="btn btn-secondary">Back</a>
  </form>
</div>

{% endblock %}
