{% extends 'base.html' %}
{% block title %}Bouldergram | Delete Post{% endblock %}

{% block content %}



{% if user.is_authenticated %}
    {% if user.id == post.author.id %}

      <h1>Delete Post...</h1>
      <br><br>


      <h3>Delete: {{ post.title }}</h3>

      <br>
            <div class="form-group">
              <form method="POST">
                {% csrf_token %}
                <strong>Are you sure you want to delete {{ post.title }}?</strong><br><br>
                <button class="btn btn-danger">Delete Post</button>
              </form>
            </div>
    {% else %}
      <h2>Apologies, you are not allowed!<br>Please <a href="{% url 'signup' %}">sign up</a> or
                                                    <a href="{% url 'login' %}">login</a>!</h2>

    {% endif %}




{% else %}

      <h2>Apologies, you are not allowed!<br>Please <a href="{% url 'signup' %}">sign up</a> or
                                                <a href="{% url 'login' %}">login</a>!</h2>


{% endif %}



{% endblock %}
