{% extends 'base.html' %}
{% block title %}Bouldergram | Edit Post{% endblock %}

{% block content %}


{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
          <h1>Edit Post...</h1>
          <br><br>

          <div class="form-group">

            <form method="POST">
              {% csrf_token %}
              {{ form.media }}

              <h5>Title of route:</h5>{{ form.title }}
        <br> <h5>Tags:</h5>{{ form.title_tag }}
        <br> <h5>Country where crag/route can be found:</h5> {{ form.country }}
        <br> <h5>Climbing grade(French system):</h5>{{ form.grades }}
        <br> <h5>Route guide/Beta:</h5>{{ form.body }}

              <br> <br> <button class="btn btn-secondary">Update</button>
            </form>

          </div>


    {% else %}
          <h2>Apologies, you are not allowed to edit the post of others!<br>Please <a href="{% url 'signup' %}">sign up</a> or
                                              <a href="{% url 'login' %}">login</a>!</h2>

    {% endif %}
{% else %}

          <h2>Apologies, you are not allowed to edit the post of others!<br>Please <a href="{% url 'signup' %}">sign up</a> or
                                          <a href="{% url 'login' %}">login</a>!</h2>

{% endif %}




{% endblock %}
